* {
  padding: 0px;
  margin: 0px;
}

.contanar {
  background-color: #f2f5f7;
  height: 100vh;
}

.input-and-button-wrapper {
  display: flex;
  justify-content: center;
}
textarea {
  width: 22%;
  height: 50px;
  margin-top: 15px;
  background-color: white;
  border-radius: 20px;
  padding: 9px;
}
textarea:focus {
  outline: none;
  border: 1px solid #009ada;
  width: 22.4%;
  height: 62px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  min-width: 32px;
  min-height: 25px;
  border-radius: 9999px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  border: none;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}
.success {
  background-color: #009ada;
}

.success:hover {
  background-color: #0ba5e5;
}

.delete {
  background-color: #ec164c;
}

.delete:hover {
  background-color: #f44572;
}

.add-button {
  margin-left: 8px;
}

.comment-wrapper {
  /* background-color: #0ba5e5; */
  width: 60%;
  margin: 20px auto;
  /* border: 2px solid red; */
}

.comment {
  margin-left: 2%;
  margin-top: 8px;
  padding-left: 8px;
  /* border-left: solid 1px rgb(87, 84, 84); */
  position: relative;
  display: flex;
  /* justify-content: left; */
  /* align-items: center; */
  flex-direction: column;
}

.comment-contener {
  margin-top: 10px;
  background-color: white;
  /* border: 1px solid #55555588; */
  border-radius: 20px;
  padding: 10px;
}

/* .comment-contener ::before{
    
    position: absolute;
    left: -10px;
  } */

/* .comment-contener{
    border: solid red;
  } */

.comment-text {
  margin: 0px;
  padding: 0px;
  font-size: 1.09em;
}

.button-and-likes-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.likes-text {
  font-size: 1.09em;
}

.hide-reply > .replay-wrapper {
  display: none;
}

@media only screen and (max-width: 1020px) {
  textarea {
    width: 30%;
  }
  textarea:focus {
    width: 30.5%;
  }
  .comment-wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 1020px) {
  textarea {
    width: 40%;
  }
  textarea:focus {
    width: 41%;
  }
  .comment-wrapper {
    width: 80%;
  }
  .comment {
    margin-left: 0px;
  }
}
